.scroll-container {
  max-height: 70vh; 
  overflow-y: auto; 
  position: relative; 
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  color: #333;
  margin-top: 40px;
  margin-bottom: 20px;
}

.graphics {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espacio entre los gráficos */
}

.chart {
  flex: 1;
  min-width: 0; /* Permite que los gráficos se ajusten en espacio limitado */
}

input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: #4a90e2;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4a90e2;
  cursor: pointer;
  border-radius: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

thead {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #fafafa;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #eaeaea;
}

