.scroll-container {
    overflow-x: auto;
    padding: 20px;
  }
  
  .accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
  }
  
  .accordion-icon {
    font-weight: bold;
    font-size: 18px;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
  }
  
  .accordion-content.open {
    display: block;
  }
  
  .highlight-row {
    background-color: #ffcccb; /* Color de fondo para filas que comienzan a disminuir */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 8px;
    text-align: center;
  }
  
  table th {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
  }
  