html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sequence-navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.header-container {
  width: 80vw; /* Ajusta el ancho al mismo que los botones de navegación */
  text-align: left; /* Alinea el texto a la izquierda */
}

.clases {
  margin-left: 0; /* Opcional: Ajusta el margen izquierdo si es necesario */
}

.underline {
  height: 3px;
  background-color: #000; /* Color de la línea subrayada */
  margin-top: 5px; /* Espacio entre el h1 y la línea */
  margin-bottom: 20px; /* Espacio entre la línea y los demás elementos */
  width: 100%; /* Asegura que la línea ocupe todo el ancho del contenedor */
}

.overline {
  height: 4px;
  background-color: #000; /* Color de la línea subrayada */
  margin-top: 5px; /* Espacio entre el h1 y la línea */
  margin-bottom: 20px; /* Espacio entre la línea y los demás elementos */
  width: 100%; /* Asegura que la línea ocupe todo el ancho del contenedor */
}

.step-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh; /* 80% de la altura de la pantalla */
  width: 75vw;  /* 80% del ancho de la pantalla */
  border: 2px solid #00274C; /* Borde de color */
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.enlace-item {
  margin-bottom: 15px; /* Espacio entre cada enlace */
}

.configuraciones-container{
  flex: 1;
  overflow: auto;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  width: 80vw; /* Igual al ancho de la tarjeta */
  margin-bottom: 20px;
  z-index: 1; /* Asegura que los botones estén sobre la tarjeta */
}

.navigation-buttons button {
  flex: 1; /* Cada botón ocupa una parte igual del ancho disponible */
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black; /* Borde negro */
  border-radius: 0; /* Sin bordes redondeados */
  background-color: #EDEDED;
  color: black;
  transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
  background-color: #00909E;
}

.navigation-buttons button.active {
  background-color: #00909E;
  color: white;
}

.navigation-buttons button.hidden {
  display: none; /* Oculta el botón si tiene la clase 'hidden' */
}

.arrow-button {
  max-width: 50px; /* Ancho máximo para los botones de flecha */
  padding: 10px;
  background-color: #00274C;
  color: white;
  border: 1px solid black; /* Borde negro */
}

.arrow-button:hover {
  background-color: #004080; /* Un poco más claro al pasar el mouse */
}

.archivo-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.download-button {
  background-color: #00274C;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #004080;
}

.archivo-description {
  margin-left: 10px;
  font-size: 16px;
}
