html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sequence-navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.step-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* 80% de la altura de la pantalla */
  width: 80vw;  /* 80% del ancho de la pantalla */
  border: 2px solid #00274C; /* Borde de color */
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  width: 80vw; /* Igual al ancho de la tarjeta */
  margin-bottom: 20px;
}

.navigation-buttons button {
  flex: 1; /* Cada botón ocupa una parte igual del ancho disponible */
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black; /* Borde negro */
  border-radius: 0; /* Sin bordes redondeados */
  background-color: #EDEDED;
  color: black;
  transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
  background-color: #00909E;
}

.navigation-buttons button.active {
  background-color: #00909E;
  color: white;
}

.arrow-button {
  max-width: 50px; /* Ancho máximo para los botones de flecha */
  padding: 10px;
  background-color: #00274C;
  color: white;
  border: 1px solid black; /* Borde negro */
}

.arrow-button:hover {
  background-color: #004080;
}
