body {
  margin: 0;
  padding: 0;
}

.navbar {
   width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00274C; 
    padding: 10px;
  }
  
  .logo {
    height: 50px; 
  }
  
  .nav a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    margin-left: 20px;
  }
  

  .logout {
    padding: 10px 20px; 
    border: none; 
    background-color: #00909E;
    color: #fff; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin: 0 30px; 

}

  