body {
  margin: 0;
  padding: 0;
}

.navbar {
   width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00274C; /* Color del fondo del encabezado */
    padding: 10px;
  }
  
  .logo {
    height: 75px; /* Ajusta el tamaño del logo según sea necesario */
  }
  
  .nav a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    margin-left: 20px;
  }
  

  .logout {
    padding: 10px 20px; /* Ajusta el espacio interno del botón */
    border: none; /* Opcional: quita el borde si es necesario */
    background-color: #00909E;
    color: #fff; /* Cambia el color del texto */
    font-size: 16px; /* Ajusta el tamaño del texto */
    border-radius: 5px; /* Opcional: para bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin: 0 30px; /* Espacio externo a los lados del botón */

}

  