html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nueva-vista-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Asegura que el contenido esté centrado horizontalmente */
  padding: 20px;
  width: 100vw;
  box-sizing: border-box;
}

.header-container {
  width: 80vw; /* Ajusta el ancho al mismo que los botones de navegación */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-bottom: 20px;
}

.clases {
  margin-left: 0; /* Ajusta el margen izquierdo si es necesario */
}

.underline {
  height: 2px;
  background-color: #000; /* Color de la línea subrayada */
  margin-top: 5px; /* Espacio entre el h1 y la línea */
  width: 100%; /* Asegura que la línea ocupe todo el ancho del contenedor */
}

.accordion {
  width: 80vw; /* Igual al ancho del contenedor del título */
  margin: 20px 0;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a4d89;
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}

.accordion-header h3 {
  margin: 0;
  font-size: 15px;
}

.accordion-icon {
  font-size: 18px;
  font-weight: bold;
}

.accordion-content {
  display: none;
  padding: 20px;
}

.accordion-content.open {
  display: block;
}

.accordion-icon.open {
  transform: rotate(45deg);
}

.nueva-vista-icon {
  margin-right: 10px;
}

.tema-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  cursor: pointer;
}

.tema-title {
  flex: 1;
}

.tema-divider {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
