/* contenido.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sequence-navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
}

.header-container {
  width: 85vw; 
  text-align: left; 
}

.clases {
  margin-left: 0; /* Opcional: Ajusta el margen izquierdo si es necesario */
}

.underline {
  height: 3px;
  background-color: #000; 
  margin-top: 5px; 
  margin-bottom: 20px; 
  width: 100%; 
}

.overline {
  height: 4px;
  background-color: #000; 
  margin-top: 5px; 
  margin-bottom: 20px; 
  width: 100%; 
}

.step-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 80vh; 
  width: 80vw;  
  border: 2px solid #00274C; 
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.configuraciones-container {
  flex: 1;
  overflow: auto;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  width: 80vw; /* Igual al ancho de la tarjeta */
  margin-bottom: 20px;
  z-index: 1; /* Asegura que los botones estén sobre la tarjeta */
}

.navigation-buttons button {
  flex: 1; /* Cada botón ocupa una parte igual del ancho disponible */
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black; /* Borde negro */
  border-radius: 0; /* Sin bordes redondeados */
  background-color: #EDEDED;
  color: black;
  transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
  background-color: #00909E;
}

.navigation-buttons button.active {
  background-color: #00909E;
  color: white;
}

.navigation-buttons button.hidden {
  display: none; /* Oculta el botón si tiene la clase 'hidden' */
}

.arrow-button {
  max-width: 50px; /* Ancho máximo para los botones de flecha */
  padding: 10px;
  background-color: #00274C;
  color: white;
  border: 1px solid black; /* Borde negro */
}

.arrow-button:hover {
  background-color: #004080; /* Un poco más claro al pasar el mouse */
}

.archivo-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.download-button {
  background-color: #00274C;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #004080;
}

.archivo-description {
  margin-left: 10px;
  font-size: 16px;
}

.vista1titulo {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.video-container {
  text-align: center;
  align-content: center;
  overflow-y: auto; /* Permite el scroll vertical */
  height: 60vh; /* Ajusta la altura automáticamente */
}

.video-container iframe {
  width: 90%; 
  height: 70vh; /* Ajusta la altura automáticamente */
  margin-bottom: 30px; /* Espacio entre videos */
}

.enlace-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #f9f9f9;
  justify-content: space-between;
}

.enlace {
  text-decoration: none;
  color: #000000;
  flex-grow: 1;
}

.enlace:hover {
  text-decoration: underline;
}

.share-button, .open-button {
  margin-top: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 18px;
  margin-left: 8px; /* Espacio entre los botones */
}

.share-button:hover, .open-button:hover {
  color: #ffffff; /* Cambia el color al pasar el mouse */
}
